* {
	font-family: "Roboto Bold";
	font-size: 9pt;
}

PathView {
	padding: 1ex;
}

QTreeView QHeaderView::section {
	font-size: 8pt;
	padding-top: 1ex;
	padding-bottom: 1ex;
}

QTreeView::item::first {
	padding-left: 0.25em;
}

QStatusBar {
	min-height: 6ex;
}

QStatusBar, QStatusBar QLabel {
	font-size: 8pt;
}

Quicksearch QLineEdit, QuicksearchSuggestion #title {
	font-size: 10pt;
}

QuicksearchSuggestion #hint {
	font-size: 8pt;
}