QHeaderView::section {
	/*
	 * Would just like padding-top = padding-bottom = 1ex here but for some
	 * reason it does not center vertically.
	 */
	padding-top: .75ex;
	padding-bottom: 1.25ex;
}

Overlay {
	min-width: 18em;
	max-width: 20em;
}